---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SchoolLayout from '@/layouts/SchoolLayout.astro'
import {render} from 'astro:content'
import {getCollection} from 'astro:content'

export async function getStaticPaths() {
  const techniques = await getCollection('techniques')

  return techniques.map((technique) => ({
    params: {
      categoria: technique.id.split('/')[0],
      tecnica: technique.id.split('/')[1],
    },
    props: {technique},
  }))
}

const {categoria} = Astro.params
---

<BaseLayout pageTitle={categoria}>
  <SchoolLayout>
    <h1>Categoria: {categoria}</h1>
  </SchoolLayout>
</BaseLayout>
